/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

.banner {
  margin: 30px 5%;
  background-image: url(img/banner.png);
  height: 80vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}
.banner .overlay {
  position: absolute;
  background-color: black;
  width: 90%;
  height: 80%;
  opacity: 0.6;
  z-index: 2;
  border-radius: 8px;
}
.banner .text {
  z-index: 5;
  top: 46%;
  left: -4%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  align-items: center;
  padding: 0 13%;
}
.banner .text h1 {
  font-size: 20px;
  padding-bottom: 10px;
  font-family: "Montserrat3";
}
.banner .text p {
  font-size: 16px;
  white-space: pre-line;
  text-align: center;
  line-height: 1.2;
  font-family: "Montserrat5";
  position: relative;
}
.banner .text::after {
  content: "";
  width: 3px;
  height: 54px;
  background-color: white;
  position: absolute;
  top: 116%;
}

.cards {
  padding: 20px;
  text-align: center;
}
.cards h3 {
  font-size: 20px;
  text-align: center;
  padding: 15px;
  font-family: "Montserrat3";
}
.cards p {
  font-size: 18px;
  padding-bottom: 10px;
  font-family: "Montserrat5";
}
.cards .card {
  text-align: center;
  margin-bottom: 20px;
  border: none;
}
.cards .card .card-img-top {
  width: 30%;
  margin: 0 auto;
}
.cards .card h4 {
  margin: 20px 0;
  font-size: 20px;
  white-space: pre-line;
  line-height: 1.2;
  font-family: "Montserrat3";
}
.cards .card p {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Montserrat5";
}

.about {
  background-image: url(img/banner1.png);
  height: 50vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
}
.about .text {
  text-align: center;
  padding-top: 84px;
}
.about .text h3 {
  padding: 10px;
  font-size: 18px;
  font-family: "Montserrat3";
}
.about .text p {
  font-size: 18px;
  padding-bottom: 10px;
  font-family: "Montserrat5";
}
.about .text button {
  background-color: #7F8D5E;
  padding: 15px;
  border: none;
  border-radius: 4px;
}
.about .text button a {
  font-size: 15px;
  color: white;
  font-family: "Montserrat5";
}
.about .pics {
  padding: 5%;
}
.about .pics .inner-pic {
  display: none;
}

.gallery {
  padding: 5%;
  margin-top: 142%;
}
.gallery .inner {
  display: none;
}
.gallery .para {
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat3";
  padding-bottom: 20px;
}

.Artist {
  text-align: center;
}
.Artist h3 {
  padding: 10px;
  font-size: 18px;
  font-family: "Montserrat3";
  text-align: center;
  padding: 5%;
}
.Artist p {
  font-size: 18px;
  padding-bottom: 10px;
  font-family: "Montserrat5";
  text-align: center;
  padding: 5%;
}
.Artist button {
  background-color: #7F8D5E;
  padding: 15px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 4px;
}
.Artist button a {
  color: white;
  font-size: 16px;
}
.Artist .card-1 {
  margin-bottom: 20px;
  background-color: #FCF6E2;
  padding: 5%;
  border: none;
  border-radius: 8px;
}
.Artist .card-1 .card-img-top {
  box-shadow: 0px -4px 0px 0px #feb143;
  border-radius: 4px;
  position: relative;
}
.Artist .card-1 .icon-img-top {
  width: 30px;
  position: absolute;
  top: 36%;
  left: 9%;
}
.Artist .card-1 h4 {
  margin: 10px 0;
  font-size: 16px;
  white-space: pre-line;
  line-height: 1.2;
  text-align: left;
  font-family: "Montserrat5";
  font-weight: 600;
}
.Artist .card-1 p {
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  font-family: "Montserrat6";
  padding: 10px 0;
}
.Artist .card-1 .card-img-top2 {
  box-shadow: 0px -4px 0px 0px #FD6D4E;
  border-radius: 4px;
}
.Artist .card-1 .card-img-top3 {
  box-shadow: 0px -4px 0px 0px #7F8D5E;
  border-radius: 4px;
}
.Artist .card-2 {
  margin-bottom: 20px;
  padding: 5%;
  border: none;
  border-radius: 8px;
  background-color: #F9E7E1;
}
.Artist .card-2 .card-img-top {
  box-shadow: 0px -4px 0px 0px #feb143;
  border-radius: 4px;
  position: relative;
}
.Artist .card-2 .icon-img-top {
  width: 30px;
  position: absolute;
  top: 36%;
  left: 9%;
}
.Artist .card-2 h4 {
  margin: 10px 0;
  font-size: 16px;
  white-space: pre-line;
  line-height: 1.2;
  text-align: left;
  font-family: "Montserrat5";
  font-weight: 600;
}
.Artist .card-2 p {
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  font-family: "Montserrat6";
  padding: 10px 0;
}
.Artist .card-2 .card-img-top2 {
  box-shadow: 0px -4px 0px 0px #FD6D4E;
  border-radius: 4px;
}
.Artist .card-2 .card-img-top3 {
  box-shadow: 0px -4px 0px 0px #7F8D5E;
  border-radius: 4px;
}
.Artist .card-3 {
  margin-bottom: 20px;
  padding: 5%;
  border: none;
  border-radius: 8px;
  background-color: #ECF5EC;
}
.Artist .card-3 .card-img-top {
  box-shadow: 0px -4px 0px 0px #feb143;
  border-radius: 4px;
  position: relative;
}
.Artist .card-3 .icon-img-top {
  width: 30px;
  position: absolute;
  top: 36%;
  left: 9%;
}
.Artist .card-3 h4 {
  margin: 10px 0;
  font-size: 16px;
  white-space: pre-line;
  line-height: 1.2;
  text-align: left;
  font-family: "Montserrat5";
  font-weight: 600;
}
.Artist .card-3 p {
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  font-family: "Montserrat6";
  padding: 10px 0;
}
.Artist .card-3 .card-img-top2 {
  box-shadow: 0px -4px 0px 0px #FD6D4E;
  border-radius: 4px;
}
.Artist .card-3 .card-img-top3 {
  box-shadow: 0px -4px 0px 0px #7F8D5E;
  border-radius: 4px;
}

.donate {
  text-align: center;
  padding: 5%;
  background-image: url(img/Banner3.png);
  height: 50vh;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.donate .inner-pic .pix {
  display: none;
}
.donate .inner-pic .pic {
  display: none;
}
.donate form {
  padding: 20px;
  background-color: #465229;
  border-radius: 8px;
}
.donate form h3 {
  font-size: 18px;
  color: white;
  font-family: "Montserrat3";
  text-align: center;
}
.donate form p {
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  font-family: "Montserrat6";
  padding-top: 10px;
  text-align: center;
  color: white;
}
.donate form h4 {
  font-size: 14px;
  color: white;
  font-family: "Montserrat3";
  text-align: center;
  position: relative;
  padding: 10px;
}
.donate form h4::before {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #feb143;
  position: absolute;
  top: 42%;
  right: 93%;
}
.donate form h4::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #feb143;
  position: absolute;
  top: 42%;
  left: 93%;
}
.donate form .form-inner .inner-form {
  display: flex;
}
.donate form .form-inner .inner-form input {
  width: 30%;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  border: none;
}
.donate form .form-inner .inner-form input::-moz-placeholder {
  color: #465229;
  font-size: 10px;
  font-family: "Montserrat3";
}
.donate form .form-inner .inner-form input:-ms-input-placeholder {
  color: #465229;
  font-size: 10px;
  font-family: "Montserrat3";
}
.donate form .form-inner .inner-form input::placeholder {
  color: #465229;
  font-size: 10px;
  font-family: "Montserrat3";
}
.donate form .form-inner .inner-form .seven {
  background-color: #E18400;
}
.donate form .form-inner .inner-form .seven::-moz-placeholder {
  color: white;
}
.donate form .form-inner .inner-form .seven:-ms-input-placeholder {
  color: white;
}
.donate form .form-inner .inner-form .seven::placeholder {
  color: white;
}
.donate form .form-inner .inner-form .other {
  width: 60%;
}
.donate form label {
  font-size: 15px;
  color: white;
  font-family: "Montserrat6";
}
.donate form button {
  background-color: #E18400;
  width: 80%;
  padding: 10px;
  border: none;
  margin: 15px;
  border-radius: 4px;
}
.donate form button a {
  color: white;
  font-family: "Montserrat3";
  font-size: 16px;
}

.events {
  padding-top: 176%;
  text-align: center;
}
.events .upcoming h2 {
  font-size: 18px;
  color: #000000;
  font-family: "Montserrat3";
  text-align: center;
}
.events .upcoming p {
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  font-family: "Montserrat6";
  padding-top: 10px;
  text-align: center;
  color: #000000;
}
.events button {
  background-color: #7F8D5E;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 20px;
}
.events button a {
  font-size: 15px;
  color: white;
  font-family: "Montserrat5";
}
.events .card {
  background-color: #ECF5EC;
  border: none;
  margin-bottom: 20px;
  border-radius: 8px;
}
.events .card .card-title {
  text-align: left;
  padding: 10px;
  font-size: 16px;
  font-family: "Montserrat3";
}
.events .card .card-text {
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
  font-family: "Montserrat5";
  white-space: pre-line;
  padding: 0 10px;
}

.footer-top {
  background-color: #3A3A3A;
  padding: 2%;
  margin: 5%;
  color: white;
  border-radius: 4px;
}
.footer-top h2 {
  font-size: 15px;
  color: white;
  font-family: "Montserrat3";
}
.footer-top p {
  font-size: 15px;
  line-height: 1.2;
  text-align: left;
  font-family: "Montserrat6";
  padding-top: 10px;
  color: white;
}
.footer-top form input {
  padding: 15px;
  border: none;
  width: 100%;
  border-radius: 4px;
  position: relative;
  margin-top: 20px;
}
.footer-top form input::-moz-placeholder {
  color: #3A3A3A;
  font-family: "Montserrat6";
  font-size: 16px;
}
.footer-top form input:-ms-input-placeholder {
  color: #3A3A3A;
  font-family: "Montserrat6";
  font-size: 16px;
}
.footer-top form input::placeholder {
  color: #3A3A3A;
  font-family: "Montserrat6";
  font-size: 16px;
}
.footer-top form button {
  background-color: black;
  padding: 10px;
  border: none;
  border-radius: 4px;
  position: absolute;
  left: 60%;
  margin-top: 23px;
}
.footer-top form button a {
  color: white;
  font-family: "Montserrat5";
  font-size: 16px;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 5%;
}
footer .text-inner h3 {
  font-size: 18px;
  font-family: "Montserrat3";
}
footer .text-inner p {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Montserrat6";
  padding-top: 10px;
}
footer .follow {
  padding-top: 20px;
}
footer .follow h4 {
  font-size: 18px;
  font-family: "Montserrat3";
}
footer .follow ul {
  padding: 10px;
}
footer .follow ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Montserrat6";
  padding: 10px;
}
footer .location h4 {
  font-size: 18px;
  font-family: "Montserrat3";
}
footer .location p {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Montserrat6";
  padding-top: 10px;
}

@media (min-width: 375px) {
  .banner .text {
    top: 55%;
  }

  .gallery {
    margin-top: 125%;
  }

  .events {
    padding-top: 145%;
  }
  .events p {
    padding: 2%;
  }

  .footer-top form button {
    left: 66%;
  }
}
@media (min-width: 414px) {
  .gallery .inner2 .pixy {
    display: none;
  }
}
@media (min-width: 568px) {
  .banner .text {
    top: 55%;
  }

  .about {
    height: 136vh;
  }
  .about .text {
    padding-top: 146px;
  }
  .about .pics img {
    width: 100%;
  }

  .gallery .inner2 img {
    width: 100%;
  }

  .donate {
    height: 142vh;
  }
  .donate .inner-pic img {
    width: 100%;
  }

  .events {
    padding-top: 110%;
  }
  .events .card .card-text {
    padding: 15px 10px;
  }

  .footer-top form button {
    left: 74%;
  }
}
@media (min-width: 768px) {
  .banner .text {
    top: 64%;
  }
  .banner .text h1 {
    font-size: 28px;
  }
  .banner .text p {
    font-size: 23px;
    padding-top: 10px;
  }

  .cards h3 {
    font-size: 30px;
  }
  .cards p {
    white-space: pre-line;
    line-height: 1.1;
    font-size: 25px;
  }
  .cards .card {
    padding-top: 30px;
  }
  .cards .card p {
    font-size: 16px;
  }

  .about {
    padding: 5%;
    height: 70vh;
    display: flex;
  }
  .about .text {
    padding-top: 211px;
    text-align: left;
  }
  .about .text h3 {
    font-size: 25px;
  }
  .about .text p {
    font-size: 21px;
    line-height: 1.1;
    padding: 10px;
  }
  .about .text button {
    margin: 10px;
  }
  .about .pics {
    display: flex;
    padding-top: 40%;
  }
  .about .pics .inner-pic1 {
    width: 47%;
    margin-right: 10px;
  }
  .about .pics .inner-pic1 img {
    width: 100%;
  }
  .about .pics .inner-pic {
    margin-top: -6px;
    display: block;
    width: 63%;
  }
  .about .pics .inner-pic img {
    margin-bottom: 15px;
    width: 50%;
  }

  .gallery {
    margin-top: 6%;
  }
  .gallery .inner {
    display: block;
    display: flex;
  }
  .gallery .inner .pic-1 {
    width: 33%;
    height: 28vh;
    margin-bottom: 15px;
  }
  .gallery .inner .pic-2 {
    width: 33%;
    height: 27vh;
    margin-top: 20px;
  }
  .gallery .inner .pic-3 {
    width: 33%;
    height: 30vh;
  }
  .gallery .inner img {
    margin: 5px;
  }
  .gallery .inner2 {
    display: flex;
  }
  .gallery .inner2 .pixy {
    width: 33%;
    height: 30vh;
    margin-bottom: 10px;
    display: block;
  }
  .gallery .inner2 .picy {
    margin-top: 12px;
  }
  .gallery .inner2 .picy .pic-4 {
    width: 95%;
    height: 20vh;
  }
  .gallery .inner2 .pic-5 {
    width: 33%;
    height: 27vh;
    margin-top: 14px;
  }
  .gallery .inner2 img {
    margin: 5px;
  }

  .Artist h3 {
    font-size: 26px;
  }
  .Artist p {
    font-size: 28px;
    line-height: 1.1;
  }
  .Artist button {
    padding: 22px;
    margin-bottom: 20px;
  }
  .Artist button a {
    color: white;
    font-size: 16px;
    font-family: "Montserrat3";
  }
  .Artist .card-1 .icon-img-top {
    width: 30px;
    position: absolute;
    top: 25%;
    left: 9%;
  }
  .Artist .card-2 .icon-img-top {
    width: 30px;
    position: absolute;
    top: 25%;
    left: 9%;
  }
  .Artist .card-3 .icon-img-top {
    width: 30px;
    position: absolute;
    top: 23%;
    left: 9%;
  }

  .donate {
    display: flex;
    height: 70vh;
  }
  .donate .inner-pic {
    width: 58%;
    display: flex;
    padding-top: 21%;
  }
  .donate .inner-pic .pix {
    display: block;
    margin: 5px;
  }
  .donate .inner-pic .picx {
    margin: 5px;
  }
  .donate .inner-pic .pic {
    display: block;
    margin: 5px;
    margin-top: 44px;
  }
  .donate form {
    height: 400px;
    width: 400px;
    margin-top: 20%;
    margin-left: 10px;
  }
  .donate form h4::before {
    width: 47px;
    top: 42%;
    right: 87%;
  }
  .donate form h4::after {
    width: 47px;
    top: 42%;
    left: 87%;
  }

  .events {
    padding-top: 10%;
  }
  .events .text {
    display: flex;
    justify-content: space-between;
    padding: 5%;
  }
  .events .text .upcoming h2 {
    text-align: left;
    padding: 10px;
  }
  .events .text .upcoming p {
    text-align: left;
    white-space: pre-line;
    padding-bottom: 10px;
  }
  .events .text button a {
    font-size: 18px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
  }
  .footer-top .inner {
    text-align: left;
    width: 40% p;
    width-white-space: pre-line;
  }
  .footer-top form {
    width: 60%;
  }
  .footer-top form button {
    left: 80%;
  }

  footer {
    display: flex;
    text-align: left;
  }
  footer .text-inner {
    width: 46%;
  }
  footer .text-inner p {
    white-space: pre-line;
  }
  footer .follow {
    padding-top: 0;
  }
  footer .follow h4 {
    padding: 0 18px;
  }
  footer .location p {
    white-space: pre-line;
  }
}
@media (min-width: 992px) {
  .header .menu .btn {
    width: 16%;
  }

  .banner {
    height: 42vh;
  }
  .banner .overlay {
    height: 42%;
  }
  .banner .text {
    top: 26%;
  }
  .banner .text p {
    font-size: 28px;
  }

  .cards .card p {
    font-size: 20px;
  }

  .about {
    height: 58vh;
  }
  .about .text {
    padding-top: 258px;
  }
  .about .pics {
    padding-top: 29%;
  }
  .about .pics .inner-pic1 {
    width: 50%;
    margin-top: 36px;
  }
  .about .pics .inner-pic img {
    width: 76%;
  }

  .gallery .inner .pic-1 {
    height: 26vh;
  }

  .Artist .text {
    display: flex;
    justify-content: space-between;
  }
  .Artist .text h3 {
    text-align: left;
  }
  .Artist .text p {
    text-align: left;
    white-space: pre-line;
    margin-left: 40px;
    padding: 10px;
  }
  .Artist button {
    margin: 35px;
  }

  .events {
    padding-top: 5%;
    position: relative;
    bottom: 137px;
  }

  .footer-top {
    padding: 5%;
    position: absolute;
    bottom: -290%;
    z-index: 9;
    left: 5%;
  }

  .footer {
    position: relative;
  }
  .footer .text-inner {
    width: 40%;
    padding-top: 34px;
  }
  .footer .follow {
    width: 30%;
    padding-top: 34px;
  }
  .footer .location {
    width: 30%;
    padding-top: 34px;
  }
}
@media (min-width: 1200px) {
  .header .menu .btn {
    width: 13%;
  }

  .banner {
    height: 80vh;
  }
  .banner .overlay {
    height: 80%;
  }
  .banner .text {
    top: 65%;
    left: 5%;
  }
  .banner .text p {
    font-size: 20px;
  }

  .cards .card p {
    font-size: 17px;
    white-space: pre-line;
  }

  .about {
    height: 150vh;
    width: 90%;
  }
  .about .text {
    padding-top: 450px;
    width: 50%;
    padding-left: 80px;
  }
  .about .text h3 {
    font-size: 20px;
  }
  .about .text p {
    white-space: pre-line;
    font-size: 21px;
  }
  .about .pics {
    padding-top: 29%;
    width: 50%;
  }
  .about .pics .inner-pic1 {
    width: 80%;
    margin-top: 36px;
  }
  .about .pics .inner-pic img {
    width: 100%;
  }

  .Artist .text {
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
  }
  .Artist .text h3 {
    text-align: left;
    padding: 10px;
  }
  .Artist .text p {
    text-align: left;
    white-space: pre-line;
    padding: 10px;
    margin-left: 0;
  }
  .Artist button {
    margin: 35px;
  }
  .Artist .card-1 .icon-img-top {
    width: 30px;
    position: absolute;
    top: 45%;
    left: 9%;
  }
  .Artist .card-2 .icon-img-top {
    width: 30px;
    position: absolute;
    top: 45%;
    left: 9%;
  }
  .Artist .card-3 .icon-img-top {
    width: 30px;
    position: absolute;
    top: 45%;
    left: 9%;
  }

  .gallery {
    margin-top: 4%;
  }
  .gallery .inner {
    display: block;
    display: flex;
  }
  .gallery .inner .pic-1 {
    width: 33%;
    height: 40vh;
    margin-bottom: 15px;
  }
  .gallery .inner .pic-2 {
    width: 33%;
    height: 35vh;
    margin-top: 20px;
  }
  .gallery .inner .pic-3 {
    width: 33%;
    height: 40vh;
  }
  .gallery .inner img {
    margin: 10px;
  }
  .gallery .inner2 {
    display: flex;
  }
  .gallery .inner2 .pixy {
    width: 33%;
    height: 40vh;
    margin-bottom: 10px;
    display: block;
  }
  .gallery .inner2 .picy {
    margin-top: 12px;
  }
  .gallery .inner2 .picy .pic-4 {
    width: 96%;
    height: 30vh;
  }
  .gallery .inner2 .pic-5 {
    width: 50%;
    height: 40vh;
    margin-top: 14px;
  }
  .gallery .inner2 img {
    margin: 10px;
  }

  .donate {
    display: flex;
    height: 150vh;
  }
  .donate .inner-pic {
    width: 58%;
    display: flex;
    padding-top: 12%;
  }
  .donate .inner-pic .pix {
    display: block;
    margin: 5px;
  }
  .donate .inner-pic .picx {
    margin: 5px;
  }
  .donate .inner-pic .pic {
    display: block;
    margin: 5px;
    margin-top: 50px;
  }
  .donate form {
    height: 500px;
    width: 500px;
    margin-top: 16%;
    margin-left: 30px;
    padding: 20px;
  }
  .donate form h3 {
    font-size: 25px;
    padding-top: 30px;
  }
  .donate form p {
    white-space: pre-line;
    font-size: 18px;
    padding-top: 20px;
    line-height: 1.2;
  }
  .donate form h4 {
    padding-top: 20px;
  }
  .donate form h4::before {
    width: 60px;
    top: 55%;
    right: 77%;
  }
  .donate form h4::after {
    width: 60px;
    top: 55%;
    left: 77%;
  }
  .donate form label {
    padding: 30px;
  }

  .events {
    padding-top: 5%;
  }
  .events .text {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    padding-top: 100px;
  }
  .events .text .upcoming h2 {
    text-align: left;
    padding: 10px;
  }
  .events .text .upcoming p {
    text-align: left;
    white-space: pre-line;
    padding-bottom: 10px;
  }
  .events .text button {
    margin: 40px;
  }
  .events .text button a {
    font-size: 18px;
  }

  .footer-top {
    padding: 5%;
    position: absolute;
    bottom: -679%;
    z-index: 9;
    left: 9%;
  }
  .footer-top form button {
    left: 78%;
  }

  .footer {
    position: relative;
  }
  .footer .text-inner {
    width: 40%;
    padding-top: 40px;
  }
  .footer .follow {
    width: 30%;
    padding-top: 40px;
  }
  .footer .location {
    width: 30%;
    padding-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */